{% assign s = block.settings %}

<a href="/" class="header-logo flex items-center justify-center relative z-content group-hover:opacity-100 h-full">
  {% if s.logo != blank %}
    <div
      class="logo-default transition-opacity duration-300 block"
      style="width: {{ s.width }}px;"
    >
      {% render 'media', src: s.logo, ratio: 'auto', fit: 'contain', class: 'bg-transparent', loading: 'eager' %}
    </div>

    {% if s.logo_transparent != blank %}
      <div class="logo-inverse absolute inset-0 transition-opacity duration-300 opacity-0 flex items-center justify-center">
        <div style="width: {{ s.width }}px;">
          {% render 'media',
            src: s.logo_transparent,
            ratio: 'auto',
            fit: 'contain',
            class: 'bg-transparent',
            loading: 'eager'
          %}
        </div>
      </div>
    {% endif %}

  {% else %}
    <span class="text-xl font-bold font-heading uppercase tracking-widest whitespace-nowrap">{{ shop.name }}</span>
  {% endif %}
</a>

{% schema %}
{
  "name": "Header Logo",
  "settings": [
    { "type": "image_picker", "id": "logo", "label": "Logo" },
    { "type": "image_picker", "id": "logo_transparent", "label": "Logo (Light)" },
    { "type": "range", "id": "width", "label": "Width", "min": 50, "max": 250, "default": 120, "unit": "px" }
  ]
}
{% endschema %}
