{% assign s = block.settings %}
{% assign asset_src = shop.logo_src | default: s.logo %}
{% capture scheme_class %}
  {% unless s.inherit_styles %}color-{{ s.color_scheme | default: 'none' }}{% endunless %}
{% endcapture %}

<a
  href="/"
  class="header-logo flex items-center justify-center relative z-content group-hover:opacity-100 {{ scheme_class }}"
>
  {% if asset_src != blank %}
    <div
      class="transition-opacity duration-300 block"
      style="width: {{ s.width }}px;"
    >
      {% render 'media', src: asset_src, ratio: 'auto', fit: 'contain', class: 'bg-transparent', loading: 'eager' %}
    </div>
  {% else %}
    <span class="text-body text-xl font-bold font-heading uppercase tracking-widest whitespace-nowrap">
      {{ shop.name }}
    </span>
  {% endif %}
</a>

{% schema %}
{
  "name": "Header Logo",
  "settings": [
    { "type": "image_picker", "id": "logo", "label": "Logo", "conditional": "shop.logo_src == blank" },
    { "type": "range", "id": "width", "label": "Width", "min": 50, "max": 400, "default": 120, "unit": "px" },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "checkbox",
      "id": "inherit_styles",
      "label": "Inherit Styles",
      "default": true
    },
    {
      "type": "header",
      "content": "Overrides",
      "conditional": "setting.inherit_styles != true"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Palette",
      "default": "default",
      "conditional": "setting.inherit_styles != true"
    }
  ]
}
{% endschema %}
