{% assign s = block.settings %}

<option
  value='{{ s.value | escape }}'
  {% if s.disabled %}
    disabled
  {% endif %}
  {% if s.selected %}
    selected
  {% endif %}
>
  {{ s.label }}
</option>

{% schema %}
{
  "name": "Option",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "{{ context.item.name }}"
    },
    {
      "type": "text",
      "id": "value",
      "label": "Value",
      "default": "{{ context.item.uuid }}"
    },
    {
      "type": "checkbox",
      "id": "selected",
      "label": "Selected by default",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disabled",
      "label": "Disabled",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Option"
    }
  ]
}
{% endschema %}
