{% capture style_override %}
  {% unless block.settings.inherit_style %}
    style="--color-btn-bg: {{ block.settings.custom_bg }}; --color-btn-text: {{ block.settings.custom_text }};"
  {% endunless %}
{% endcapture %}

<div class="inline-block" {{ style_override }}>
  {% render 'button', 
     label: block.settings.label, 
     url: block.settings.link, 
     style: block.settings.style 
  %}
</div>

{% schema %}
{
  "name": "Button",
  "settings": [
    { "type": "text", "id": "label", "label": "Label", "default": "Book Now" },
    { "type": "url", "id": "link", "label": "Link" },
    { "type": "select", "id": "style", "label": "Style", "default": "primary", "options": [
      { "value": "primary", "label": "Solid" },
      { "value": "outline", "label": "Outline" },
      { "value": "link", "label": "Link" }
    ]},
    {
      "type": "header",
      "content": "Overrides"
    },
    {
      "type": "checkbox",
      "id": "inherit_style",
      "label": "Inherit Theme Colors",
      "default": true,
      "info": "Uncheck to customize button colors manually."
    },
    {
      "type": "color",
      "id": "custom_bg",
      "label": "Custom Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "custom_text",
      "label": "Custom Text",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}