{% assign s = block.settings %}

{% assign api_key = shop.config.maps_api_key %}
{% assign map_src = 'https://www.google.com/maps/embed/v1/place?key=' | append: api_key | append: '&q=' %}

{% if s.location != blank %}
  {% assign args = 'location_identifier:' | append: s.location | parse_kv %}
  {% assign location = 'location' | data_source: 'fetch', args %}
  {% assign address = shop.name | append: ', ' | append: location.formatted_address | url_encode %}
  {% assign map_src = map_src | append: address %}
{% else %}
  {% assign map_src = map_src | append: shop.name %}
{% endif %}

<div
  class="media-block w-full h-full is-{{ s.height }}"
  style="{% if s.height == 'custom' %}--max-h: {{ s.custom_height }}rem;{% endif %}"
  {{ context.attached_attributes }}
>
  <iframe
    width="100%"
    height="100%"
    style="border:0;"
    loading="lazy"
    allowfullscreen=""
    referrerpolicy="no-referrer-when-downgrade"
    src="{{ map_src }}"
  >
  </iframe>
</div>
{% schema %}
{
  "name": "Google Map Embed",
  "settings": [
    {
      "type": "header",
      "content": "Location"
    },
    { "type": "collection", "id": "location", "label": "Select Location" },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Image Height",
      "options": [
        { "value": "auto", "label": "Auto (Fit Content)" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "Fullscreen" },
        { "value": "thumbnail", "label": "Thumbnail" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "auto"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "Custom Height",
      "min": 2,
      "max": 50,
      "step": 0.5,
      "default": 19,
      "unit": "rem",
      "conditional": "setting.height == 'custom'"
    }
  ]
}
{% endschema %}
