{% capture style_override %}
  {% unless block.settings.inherit_color_scheme %}
    style="--color-text: {{ block.settings.custom_color }};"
  {% endunless %}
{% endcapture %}

<div class="w-full max-w-prose mb-4" {{ style_override }}>
  {% render 'typography', 
     text: block.settings.text, 
     tag: block.settings.tag, 
     display_size: block.settings.display_size
  %}
</div>

{% schema %}
{
  "name": "Heading",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Section Title"
    },
    {
      "type": "select",
      "id": "tag",
      "label": "HTML Tag",
      "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "display_size",
      "label": "Visual Scale",
      "options": [
        { "value": "h2", "label": "Large (H2)" },
        { "value": "h3", "label": "Medium (H3)" },
        { "value": "body", "label": "Small (Body)" }
      ],
      "default": "h2"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "Inherit Color Scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "custom_color",
      "label": "Custom Color",
      "default": "#000000"
    }
  ]
}
{% endschema %}