<div
  class="w-full {% if block.settings.hide_mobile %}hidden md:block{% endif %}"
  {{ context.attached_attributes }}
>
  {% render 'spacer', height: block.settings.spacer_height %}
</div>

{% schema %}
{
  "name": "Spacer",
  "settings": [
    { "type": "range", "id": "spacer_height", "label": "Height (rem)", "min": 0.5, "max": 10, "step": 0.25, "default": 2.5, "unit": "rem" },
    { "type": "checkbox", "id": "hide_mobile", "label": "Hide on Mobile", "default": false }
  ]
}
{% endschema %}
