{% capture style_override %}
  {% unless block.settings.inherit_color_scheme %}
    style="--color-text: {{ block.settings.custom_color }};"
  {% endunless %}
{% endcapture %}

<div class="w-full max-w-prose text-align-{{ block.settings.text_align }}" {{ style_override }}>
  {% render 'typography',
    text: block.settings.content,
    tag: 'div',
    display_size: block.settings.display_size,
    weight: block.settings.font_weight
  %}
</div>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Locally sourced ingredients."
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "display_size",
      "label": "Size",
      "default": "body",
      "options": [
        { "value": "body", "label": "Body" },
        { "value": "caption", "label": "Caption" }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Alignment",
      "options": [
        { "value": "", "label": "Inherit" },
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Weight",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "medium", "label": "Medium" },
        { "value": "bold", "label": "Bold" }
      ],
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "Inherit Color Scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "custom_color",
      "label": "Custom Color",
      "default": "#ffffff",
      "conditional": "setting.inherit_color_scheme != true"
    }
  ]
}
{% endschema %}
