@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stagger-load > *:not(.no-stagger):not(:has(.no-stagger)) {
    opacity: 0;
    @apply animate-fade-up; 
    will-change: opacity, transform;
  }

  .stagger-load>*:not(.no-stagger):first-child {
    animation-delay: 0ms;
    animation-duration: 1s;
  }

  .stagger-load>*:not(.no-stagger):nth-child(2) {
    animation-delay: 150ms;
  }

  .stagger-load>*:not(.no-stagger):nth-child(3) {
    animation-delay: 300ms;
  }

  .stagger-load>*:not(.no-stagger):nth-child(4) {
    animation-delay: 450ms;
  }

  .stagger-load>*:not(.no-stagger):nth-child(5) {
    animation-delay: 600ms;
  }

  .stagger-load>*:not(.no-stagger):nth-child(n+6) {
    animation-delay: 750ms;
  }

  .btn-primary {
    @apply bg-btn text-btn border border-transparent hover:opacity-90;
  }

  .btn-outline {
    @apply bg-transparent text-body border border-body hover:opacity-75;
  }

  .btn-link {
    @apply bg-transparent text-body border-none underline underline-offset-4 p-0 hover:no-underline;
  }
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  body {
    @apply font-body text-body bg-body antialiased;
  }

  .animate-marquee:hover,
  .animate-marquee-reverse:hover {
    animation-play-state: paused;
  }
}